In [1]:
x=input("enter a number")

enter a number12

In [2]:
y=input("enter a number")

enter a number6

In [3]:
x+y

'126'

In [4]:
int(x)+int(y)

18

In [5]:
int(x)-int(y)

6

In [6]:
int(x)*int(y)

72

In [7]:
int(x)/int(y)

2.0

In [8]:
x=int(input("enter the first number"))

enter the first number36

In [9]:
y=int(input("enter the second number"))

enter the second number63

In [11]:
p=int(input("enter the principle amount"))

enter the principle amount10000

In [13]:
n=int(input("enter the number of years"))

enter the number of years10

In [15]:
r=int(input("enter the rate"))

enter the rate6

In [16]:
i=p*n*r/100

In [17]:
print(i)

6000.0

In [28]:
n=input("enter your name : ")
x=int(input("enter your mark : "))
if x>50:
  print("pass")
else:
  print("fail")

enter your name : PARVATHY
enter your mark : 100
pass

In [33]:
s=int(input("enter your salary"))
t=s*10/100
if s>250000:
  print("taxable")
  
    print(t)
else:
  print("not taxable")

enter your salary6000000
taxable
600000.0

In [37]:
s=int(input("enter your salary"))
if s>250000:
  print("taxable")
  t=(s-250000)*10/100
  print(t)
else:
  print("not taxable")

enter your salary6000000
taxable
575000.0

In [38]:
s=int(input("enter your salary"))
if s>250000 and s<500000:
  print("taxable")
  t=(s-250000)*10/100
  print(t)
if s>500000:
  print("taxable")
  t=(s-250000)*20/100
  print(t)
else:
  print("not taxable")

enter your salary6000000
taxable
1150000.0